.Rproj.user
.Ruserdata
.Rhistory
.RData
_book
_bookdown_files
rsconnect
_book_deploy
libs
**/*.bib
!**/mathjax_header.html

gba-and-ds-rom-hacking-guide.html
gba-and-ds-rom-hacking-guide.Rmd
gba-and-ds-rom-hacking-guide.log
gba-and-ds-rom-hacking-guide.pdf
gba-and-ds-rom-hacking-guide.tex